@import url("../font.css");

* {
    font-family: "stet";
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

p {
    font-family: 'stet';
    font-size: 30px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav a {
    font-size: 15px !important;
}

nav .offcanvas-body a {
    font-size: 15px !important;
    color: white;
}

nav svg {
    fill: white;
    margin-left: 2%;
}

.navbar .container button {
    fill: white;
    border: 1px solid white;
    color: white;
    background: none;
    display: flex;


}

.navbar .container button svg {
    fill: white;


}

.navbar-toggler-icon {
    background-image: none;
}

.offcanvas-body {
    background-color: #312783 !important;
}

.offcanvas-header {
    background-color: #312783 !important;
}

.bg-dark {
    background-color: #312783 !important;
}

.navbar-nav .dropdown-menu {
    background-color: #312783;
    border: 2px solid white;
    font-size: 10px;
}

.navbar-nav .dropdown-menu a {
    font-size: 5px;
}



.main .container .foto .logo svg {
    width: 13%;
    margin: 2% 2%;
}

.main {
    background-image: url(../img/XXL_height.webp);
    background-size: cover;
    height: 450px;
    background-repeat: no-repeat;
}









.employees .container .heading h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: 'stetb';
}

.employees .container .myschool h3{
    font-size: 16px;
    font-family: 'stetm';
    text-align: center;
}

.employees .container .myschool a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.employees .container .myschool a:hover{
    font-size: 14px;
    text-decoration: underline;
    transition: 0.5s;
}

.employees .container .diary .link{
    font-size: 16px;
    font-family: 'stetm';
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

.employees .container{
    text-align: center;
}

.employees .container .diary .link:hover{
    transition: 0.5s;
    text-decoration: underline;
}

.employees .container .diary .prost{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 14px;
}

.employees .container .diary .prost:hover{
    font-size: 14px;
    text-decoration: underline;
    transition: 0.5s;
}

.employees .container .vk{
    margin-bottom: 2%;
}

.employees .container .vk h3{
    font-size: 16px;
    font-family: 'stetm';
    text-align: center;
    color: #000;
}

.employees .container .vk p{
    font-size: 14px;
}

.employees .container .vk img{
    width: 50%;
    margin: 0.5% 0;
}

.employees .container .vk a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 14px;
}

.employees .container .vk a:hover{
    font-size: 14px;
    text-decoration: underline;
    transition: 0.5s;
}










footer {
    background-color: #312783;
}

footer .foot .container {
    display: flex;
    flex-direction: row;
}

footer .foot .container .logo img {
    width: 20%;
    fill: white !important;
}

footer .foot .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
}

footer .foot .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    margin: 1% 0;
}

footer .foot .container .text p {
    font-size: 10px;
    color: white;
    margin: 0;
    letter-spacing: 1px;
}




@media (max-width: 992px) {
    .container {
        width: 960px;
    }

    .employees .container .vk img{
        width: 70%;
    }
}




@media (max-width: 768px) {
    .container {
        width: 740px;
    }

    .main .container .foto .logo svg {
        width: 20%;
    }

    footer .foot .container .logo img{
        width: 30%;
    }

    .main{
        height: 350px;
    }
}






@media (max-width: 576px) {
    .container {
        width: 98%;
    }

    .main .container .foto .logo svg {
        width: 20%;
    }

    .main{
        height: 300px;
    }

    footer .foot .container .logo img {
        width: 35%;
    }

    .navbar-brand {
        font-size: 12px !important;
    }

    nav svg {
        width: 10%;
    }

    .employees .container .vk img{
        width: 80% !important;
    }

    .navbar .container button svg {
        width: 100%;
    }

    footer .foot .container .text p{
        font-size: 8px;
    }

    .employees .container .heading h2{
        font-size: 19px;
    }

    .employees .container a{
        font-size: 12px;
    }

    .employees .container .myschool h3{
        font-size: 14px;
    }

    .employees .container .myschool a{
        font-size: 12px;
    }

    .employees .container .diary .link{
        font-size: 14px;
    }

    .employees .container .diary .prost{
        font-size: 12px;
    }

    .employees .container .vk h3{
        font-size: 14px;
    }

    .employees .container .vk p{
        font-size: 12px;
    }

    .employees .container .vk a{
        font-size: 12px;
    }



}